.JoinIntoGame {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  flex-direction: column;
}

.cifry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}