.whoYou {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.whoYou > span {
  user-select: none;
}

.create {
  user-select: none;
  display: block;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  bottom: 20px;
  font-size: 20px;
  right: 50%;
  transform: translateX(50%);
  transition: 0.2s ease-in;
}

.create:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.JoinIntoGame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.cifryWrap {
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.cifry {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.cifry > span {
  user-select: none;
}

.error {
  user-select: none;
  font-size: 10px;
  position: absolute;
  bottom: -20px;
  right: 0;
}

@media screen and (max-height: 500px) {
  .create {
    display: none !important;
  }
}

@media screen and (min-width: 555px) {
  .whoYou {
    width: 400px;
  }

  .cifryWrap {
    width: 400px;
  }

  .cifry {
    width: 400px;
  }
}